@tailwind base;
@tailwind components;
@tailwind utilities;

/* font family */
@layer components {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-[#fafafa] font-RedHatDisplay;
  }

  body.dark {
    @apply bg-[#060818];
  }
}

/* body font-comfortaa */
body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
}

/* container breakpoint */
@layer components {
  @media screen and (max-width: 639px) {
    .container {
      max-width: 100%;
      padding: 0 1rem;
    }
  }
  @media screen and (min-width: 640px) {
    .container {
      max-width: 100%;
      padding: 0 1rem;
    }
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 100%;
      padding: 0 1rem;
    }
  }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 1536px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 1792px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 2048px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 2304px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
  @media screen and (min-width: 2560px) {
    .container {
      max-width: 100%;
      padding: 0 2rem;
    }
  }
}
